/*FIRST PAGE*/
.back_color_first_page {
    height: calc(100vh - 75px);
    position: relative;
}

.back_color_first_page:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.first_page {
    margin-top: auto;
    height: calc(100vh - 50px);
    position: relative;
}

.text_middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #1f27af;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_middle .subheading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #ca5a56;
    letter-spacing: 4px; 
}

.text_middle h1 {
    font-size: 60px;
    font-weight: 800; 
}

.img_middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #1f27af;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SECTIONS */
.new-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.new-section:after {
    content: '';
    display: block;
    clear: both;
}

.new-section h1 {
    font-family: 'Poppins', Arial, sans-serif;
    color: #1f27af;
    font-size: 36px;
}

/* Projetos */
.button-group button{
    background: none;
    border: none;
    text-transform: uppercase;
    font: normal 500 16px/130px var(--font-family-sans-serif);
    outline:none;
}

.button-group button + button{
    padding-left: 2rem;
}

.grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* Equipa */
.team4 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
}

.team4 .font-weight-medium {
    font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
    color: #316ce8;
}

/*FOOTER*/
footer {
    background-color: #232931;
    color: rgba(255, 255, 255, 0.7);
    padding: 15px 40px;
}

footer:after {
    content:'';
    display: block;
    clear: both;
}

.footer-text {
    margin-top: 10px;
}

.footer-text p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.footer-text a {
    color: rgba(255, 255, 255, 0.7);
}